.select-wrapper {
  /* width: 340px; */
  text-align: center;
  margin: auto;
  border-radius: 3%;
}
.button-wrapper {
  height: 38px;
}
.creatable {
  margin-bottom: 40px;
  margin-left: 20px;
}
.border-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: auto;
  width: auto;
  color: #03090e;
  font-size: 1em;
  border: 2px solid #3498db;
}
.trnsparent-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: auto;
  width: auto;
  color: #03090e;
  font-size: 1em;
  border-bottom: 1px solid #3498db;
}
@media screen and (max-width: 480px) {
  .select-wrapper {
    width: 300px;
  }
}
