.header-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #3c3c3c;
  color: white;
}
@media screen and (max-width: 480px) {
  .header-wrapper {
    width: 100%;
  }
}
.logo {
  width: auto;
  max-width: 220px;
  min-height: 70px;
  max-height: 70px;
}
ul {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar li {
  padding: 0.6em;
  text-decoration: none;
  color: white;
}
