.nav {
  background: #cfad55;
}
.header-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #cfad55;
  color: white;
}

/* .logo-wrapper {
  height: ;
} */
@media screen and (max-width: 480px) {
  .header-wrapper {
    width: 100%;
  }
}
.logo-wrapper {
  height: 48px;
  width: 150px;
  max-width: 220px;
  max-height: 100px;
}

ul {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar li {
  padding: 0.6em;
  text-decoration: none;
  color: white;
}

/* .nav {
  background: #cfad55;
}
.header-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #cfad55;
  color: white;
}


@media screen and (max-width: 480px) {
  .header-wrapper {
    width: 100%;
  }
}
.logo-wrapper {
  height: 48px;
  width: 150px;
  max-width: 220px;
  max-height: 100px;
}

ul {
  list-style: none;
}
.navbar ul {
  display: flex;
}
.navbar li {
  padding: 0.6em;
  text-decoration: none;
  color: white;
} */
